<div class="blog-edit">
  <div class="blog-title">
    <h1>Edit <%= @blog.title %></h1>
  </div>

  <%= link_to 'Return to Blogs Index', blogs_path %>

  <%= render 'form', blog: @blog, form_type: 'edit', type: 'edit' %>
</div>
