<div class="blog-show">
  <%= render @blog %>

  <div class="other-blogs">
    <h3>Other Posts</h3>
    <ul>
      <% @blogs.each do |blog| %>
       <% if blog == @blog %>
         <li><%= @blog.title %></li>
        <% else %>
          <li><%= link_to blog.title, blog %></li>
       <% end %>
      <% end %>
    </ul>
  </div>
</div>
