<div class="blog-show">
  <%= render @blog %>

  <div class="other-blogs">
    <h4>Other Blogs (temp)</h4>
    <ul>
      <li>blog 2</li>
      <li>blog 3</li>
      <li>blog 4</li>
      <li>blog 5</li>
      <li>blog 6</li>
    </ul>
  </div>
</div>
