<div class="project-edit">
  <%= link_to "Home", root_path, class: "home-link" %>
  <h1>Edit <%= @project.title %></h1>

  <%= render 'form', project: @project, form_type: 'edit', type: 'edit' %>
</div>
