$blue-grey: #545E75;
$background-grey: #E8E8F2;
$dark-grey: #353535;
$dark-green: #37392E;
$mid-green: #104F55;
$light-green: #A4C3B2;
$blue: #e2ebfb;
$mid-blue: #033860;
$light-blue: rgba(#6a9abe, 1);
$silver: #CCC5B9;
$off-white: #f8f8ff;
$off-black: #252422;
