$blue-grey: #545E75;
$background-grey: #E8E8F2;
$dark-grey: #353535;
$dark-green: #37392E;
$mid-green: #104F55;
$light-green: #A4C3B2;
$faint-blue: #e2ebfb;
$mid-blue: #033860;
$blueish: #2c3c47;
$red: #ff0000;
$mid-blue-t: rgba(#033860, 0.5);   // heading border
$mid-blue-xt: rgba(#e4edf7, 0.95);   // heading border
$light-blue: rgba(#bbd9ed, 1);
$silver: #CCC5B9;
$off-white: #f8f8ff;
$off-white-t: rgba(#f9f9ff, 0.50);
$off-black: rgba(#252422, .75);
$off-black-t: rgba(#252422, 0.25);
$red-t: rgba(#ff0000, 0.5);
$pic-background: #ffffff;
