@import '_variables';

@supports (grid-area: auto) {
	@media screen and (min-width: 768px) {
    .home-container {
			overflow: hidden;

      display: grid;
      grid-template-columns: 20vw 15vw 55vw 5vw;
      grid-template-rows: 7.5vh 85.5vh;

			.name {
				grid-column: 1;
				grid-row: 1;

				justify-self: center;
				align-self: center;

				color: $off-black;
			}

			.links {
				grid-column: 3/5;
				grid-row: 1;

				justify-self: right;
				align-self: center;

				.contact {
					width: 20vw;

					h2 {
						display: none;
					}

					img {
						width: 2vw;
					}
				}
			}

			.project-overlay {
				grid-column: 2/4;
				grid-row: 2;

				height: 85vh;
				width: 90vw;
				margin-left: 2vw;

				position: absolute;
				overflow: hidden;
				margin-top: 7.5vh;

				background-color: $off-black-t;
			}

			.project-container {
			 	grid-column: 2/4;
				grid-row: 2;

				height: 85vh;
				width: 90vw;
				margin-left: 2vw;

				position: absolute;
				overflow: hidden;
				margin-top: 7.5vh;

				background-color: $background-grey;
				border: 1px solid $mid-blue-t;
				border-right: 0px;

				display: grid;
				grid-template-columns: 25vw 65vw;
				grid-template-rows: auto;

				ul {
					grid-column: 1;
					grid-row: 1;

					margin-left: 2vw;

					h1 {
					 padding: 1.5vh 0;
					}
				}

				.project-list {
					padding-top: 10vh;
				}

				.selected-project {
					grid-column: 2;
					grid-row: 1;

					.project {
						height: 80vh;
						width: 63vw;

						margin-top: 2.5vh;

						background-color: $off-white;

						display: grid;
						grid-template-columns: 10vw 45vw 10vw;
						grid-template-rows: 10vh 7.5vh 50vh 10vh;

						h3 {
							grid-column: 2;
							grid-row: 1;

							justify-self: center;
							font-size: 4vw;
						}

						.project-description {
							grid-column: 2;
							grid-row: 2;
						}

						.project-image {
							grid-column: 1/4;
							grid-row: 3;

							display: block;
							margin: auto;

							width: 55vw;
							max-width: 80vh;
						}

						.project-technologies {
							grid-column: 1/4;
							grid-row: 4;

							width: 63vw;
							background-color: $blue;
							border-top: 1px solid $mid-blue;
							border-bottom: 1px solid $mid-blue;

							display: grid;
							grid-template-columns: auto;

						  h4 {
								grid-column: 1;

								justify-self: right;
								align-self: center;
								padding-right: 2vw;

								font-size: 1.75vw;
							}

							ul {
								grid-column: 2;

								li {

									display: inline-block;

									.tech-icon {
										width: 4vw;

										margin: 0 1vw;
									}
								}
							}
						}
					}

					.delete-link {
						display: none;
					}

					.edit-link {
						display: none;
					}
				}
			}

			.profile-container {
				grid-column: 3;
				grid-row: 2;

				width: 60vw;
				height: 85vh;
				overflow-y: scroll;
				overflow-x: hidden;

				background-color: $off-white;
				border-top: 1px solid $off-black-t;
				border-bottom: 1px solid $off-black-t;

				display: grid;
				grid-template-columns: 35vw 5vw 20vw;
				grid-template-rows: 2.5vh 55vh auto;

				div {
					grid-template-columns: 12.5vw 30vw;
					grid-template-rows: auto;
					grid-column-gap: 2vw;
					grid-row-gap: 2vh;
				}

				h2 {
					padding-top: 4vh;
				}

				.description {
					grid-column: 1/3;
					grid-row: 1/3;

					height: 30vh;
					align-self: center;
					margin: -15vh 0 0 5vw;

					h1 {
						text-align: center;
					}

					p {
						font-size: calc(16px + .75vw);
					}
				}

				.profile-picture {
					grid-column: 2/4;
					grid-row: 1/3;

					width: 25vw;
					max-width: 350px;

					margin-top: -2.5vh;
				}

				.about-me {
					grid-column: 1/4;
					grid-row: 3;

					justify-self: center;

					display: grid;

					h2 {
						grid-column: 1;
					}

					p {
						grid-column: 2;
					}
				}

				.skills-list {
					grid-column: 1/4;
					grid-row: 4;

					justify-self: center;

					display: grid;

					h2 {
						grid-column: 1;
					}

					ul {
						grid-column: 2;
						column-count: 3;

						li {
							font-size: calc(16px + .5vw);
							padding-top: 1vh;
						}
					}
				}

				.contact {
					grid-column: 1/4;
					grid-row: 6;
					justify-self: center;

					display: grid;

					h2 {
						grid-column: 1;
						padding-top: 0;
						align-self: center;
					}

					img {
				 		width: 3vw;

						align-self: center;
					}
				}
			}

			.profile-click {
				grid-column: 4;
				grid-row: 2/4;
				z-index: 2;

				width: 4vw;
				height: 85vh;
				justify-self: right;

				background-color: $light-blue;
				border: 1px solid $mid-blue-t;
				border-right: 0px;

				h2 {
					transform: rotate(90deg);
					margin-top: 15vh;
				}
			}

			.contact {
				ul {
				 column-count: 5;
				}
			}
    }
	}
}
