@supports (grid-area: auto) {
	@media screen and (min-width: 768px) {
    .home-container {
			overflow: hidden;

      display: grid;
      grid-template-columns: 20vw 15vw 55vw 10vw;
      grid-template-rows: 7.5vh 92.5vh;

			div {
				max-height: 650px;
			}

			.name {
				grid-column: 1;
				grid-row: 1;

				justify-self: center;
				align-self: center;
			}

			.links {
				grid-column: 3;
				grid-row: 1;

				justify-self: right;
				background-color: red;
			}

			.project-container {
			 	grid-column: 2/4;
				grid-row: 2;

				width: 90vw;
				height: 85vh;
				position: absolute;
				overflow: hidden;
				margin-top: 7.5vh;

				background-color: #f8f8ff;

				display: grid;
				grid-template-columns: 25vw 65vw;
				grid-template-rows: 90vh;

				ul {
					grid-column: 1;
					grid-row: 1;

					margin-left: 3vw;

					h1 {
					 padding: 1.5vh 0;
					}
				}

				.project-list {
					padding-top: 10vh;
				}

				.selected-project {
					grid-column: 2;
					grid-row: 1;
					height: 80vh;
					width: 65vw;

					.project {
						height: inherit;
						width: inherit;

						display: grid;
						grid-template-columns: repeat(5, 13vw);
						grid-template-rows: 7.5vh 7.5vh 55vh 10vh;

						h3 {
							grid-column: 2/5;
							grid-row: 1;

							justify-self: center;
							font-size: 4vw;
						}

						.project-description {
							grid-column: 1/6;
							grid-row: 2;

							p {
								justify-self: center;
							}
						}

						.project-image {
							grid-column: 1/6;
							grid-row: 3;

							display: block;
							margin: auto;

							width: 55vw;
							max-width: 80vh;
						}

						.project-technologies {
							grid-column: 2/5;
							grid-row: 4;

							justify-self: center;

							display: grid;
							grid-template-columns: auto;

						  h4 {
								grid-column: 1;

								align-self: center;

								font-size: 1.75vw;
							}

							ul {
								grid-column: 2;

								li {

									display: inline-block;

									.tech-icon {
										width: 4vw;

										margin: 0 1vw;
									}
								}
							}
						}
					}


					.delete-link {
						display: none;
					}

					.edit-link {
						display: none;
					}
				}
			}

			.profile-container {
				grid-column: 3;
				grid-row: 2;

				width: 60vw;
				height: 80vh;

				overflow-y: scroll;
				overflow-x: hidden;

				display: grid;
				grid-template-columns: 35vw 5vw 20vw;
				grid-template-rows: 2.5vh 55vh auto;

				div {
					grid-template-columns: 12.5vw 30vw;
					grid-template-rows: auto;
					grid-column-gap: 2vw;
					grid-row-gap: 2vh;
				}

				h2 {
					padding-top: 4vh;
				}

				.description {
					grid-column: 1/3;
					grid-row: 1/3;

					height: 30vh;
					align-self: center;
					margin: -15vh 0 0 5vw;

					h1 {
						text-align: center;
					}

					p {
						font-size: calc(16px + .75vw);
					}
				}

				.profile-picture {
					grid-column: 2/4;
					grid-row: 1/3;

					width: 25vw;
					max-width: 350px;

					margin-top: -2.5vh;
				}

				.about-me {
					grid-column: 1/4;
					grid-row: 3;

					justify-self: center;

					display: grid;

					h2 {
						grid-column: 1;
					}

					p {
						grid-column: 2;
					}
				}

				.skills-list {
					grid-column: 1/4;
					grid-row: 4;

					justify-self: center;

					display: grid;

					h2 {
						grid-column: 1;
					}

					ul {
						grid-column: 2;
						column-count: 3;

						li {
							font-size: calc(16px + .5vw);
							padding-top: 1vh;
						}
					}
				}

				.contact {
					grid-column: 1/4;
					grid-row: 6;
					justify-self: center;

					display: grid;

					h2 {
						grid-column: 1;
						padding-top: 0;
						align-self: center;
					}

					ul {
					 column-count: 5;

						img {
					 		width: 4vw;

							align-self: center;
						}
					}
				}
			}

			.profile-click {
				grid-column: 4;
				grid-row: 2/4;

				width: 6vw;
				height: 80vh;

				background-color: rgb(109, 136, 147);
				z-index: 2;

				h2 {
					transform: rotate(90deg);
					margin-top: 15vh;
				}
			}
    }
	}
}
