@import '_variables';

@supports (grid-area: auto) {
	@media screen and (min-width: 768px) {
    .project-index {
      grid-column: 1;
      grid-row: 1;

      overflow-y: scroll;
    }

    .project-edit {
      grid-column: 1;
      grid-row: 1;

      overflow-y: scroll;
    }

    .project-create {
      grid-column: 1;
      grid-row: 1;

      overflow-y: scroll;
    }
  }
}
